
 .circle-animation{

position:absolute;
width:100%;
height:100%;

animation: rotateCircle 4s ease-in-out;

}



.orbit-card{

position:absolute;
width:260px;

}



/* card positions */


.card1{

top:0px;
left:50%;
transform:translateX(-50%);

animation-delay:.2s;

}


.card2{

top:180px;
right:12%;


animation-delay:.4s;

}



.card3{

bottom:130px;
right:130px;

animation-delay:.6s;

}



.card4{

bottom:130px;
left:130px;

animation-delay:.8s;

}



.card5{

top:180px;
left:12%;

animation-delay:1s;

}



.card6{

bottom:0px;

left:50%;
transform:translateX(-50%);

animation-delay:1.2s;

}




@keyframes rotateCircle{


0%{

transform:rotate(0deg);

}


40%{

transform:rotate(120deg);

}


70%{

transform:rotate(120deg);

}


100%{

transform:rotate(0deg);

}


}